<!DOCTYPE html>
<html>
	<head>
		{# <title>Template Send Email</title> #}
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/litera/bootstrap.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		{% block subject %}
			{% trans %}
			Please Confirm Your Email
			{% endtrans %}
		{% endblock %}
		<style>
			.centered-content {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100vh;
			}
			.content-block {
				max-width: 800px;
			}
			img {
				width: 500px;
				height: 700px;
			}

			.email-icon {
				display: block;
				margin: 0 auto 20px; /* Centré avec un espace en bas */
				font-size: 50px;
				color: rgb(166, 143, 107);
			}

			body {
				font-family: 'Jost', sans-serif;
			}
			p {
				font-size: 16px;
				line-height: 26px;
				color: #666;
				overflow-x: hidden;
			}

			.btn-custom {
				background-color: rgb(166, 143, 107);
				border-color: rgb(166, 143, 107);
				color: white;
			}

			.btn-custom:hover {
				background-color: rgb(143, 123, 92); /* Une couleur légèrement plus foncée pour l'effet de survol */
				border-color: rgb(143, 123, 92);
			}
		</style>
	</head>
	<body>
		{% block body_html %}
			<div class="container">
				<div class="row centered-content">
					<div
						class="content-block">
						<!-- Ajouter l'icône d'email ici -->
						<div
							class="text-center">
							<i class="bi bi-envelope-check email-icon"></i>
						</div>
						<hr/>
						<div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
							<img src="https://images.unsplash.com/photo-1620733719521-fa0625956f5c?q=80&w=4000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img" class="img-fluid">
							<div class="col-md-8 ms-4 mt-3 mt-md-0 text-center text-md-start">
								<h1 class="text-center">Validation Inscription</h1>
								<hr/>
								<p>
                                    Bonjour <strong>{{ user.firstName }} {{ user.lastName }}</strong>,
                                    <hr/>
								</p>
								<p class="text-center">Merci d'avoir choisi <strong>"Emarh Perfume"</strong> pour l'achat de parfums.</p>
								<p>
									Veuillez confirmer que : <strong>{{ user.email }}</strong> est votre email pour valider votre inscription en cliquant sur le bouton ci-dessous.
								</p>
								<hr/>
								<div class="text-center">
									<button class="btn btn-custom">{% trans %}Valider votre inscription{% trans %}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
